<div class="container space-top-3 space-bottom-1 space-bottom-sm-2">
    <div class="w-lg-75">
        <h1 class="display-3 mb-5">
            We are
            <span class="text-warning">
                <span class="js-text-animation"
                      data-hs-typed-options='{
                    "strings": ["gods...", "goddesses...", "love...", "light...", "powerful...", "free...", "abundant...","ONE !"],
                    "typeSpeed": 70,
                    "loop": true,
                    "backSpeed": 40,
                    "backDelay": 2000
                  }'></span>
            </span>
        </h1>
        @*<p class="lead">Welcome to Zorra of Hollow Earth.</p>*@
    </div>
</div>
@*<div style="background: url(_site/img/bg1.jpg) center center no-repeat fixed;"></div>*@