<div class="container text-center space-top-3 space-bottom-1 space-bottom-sm-2">
    <div class="w-lg-75">
        <h1 class="display-4 mb-5">
            <span>
                We are
            </span>
            <span class="text-primary">
                <span class="js-text-animation"
                      data-hs-typed-options='{
                        "strings": ["gods...", "goddesses...", "love...", "light...", "powerful...", "free...", "abundant...","ONE !"],
                        "typeSpeed": 70,
                        "loop": true,
                        "backSpeed": 40,
                        "backDelay": 2000
                      }'></span>
            </span>
        </h1>
    </div>
</div>
<hr />
<div>

    <div>
        <div class="w-lg-75 text-center mx-lg-auto">
            <div class="mb-9">
                <h1 class="display-4 mb-4">Welcome to Zorra of Hollow Earth</h1>
                <p class="lead">5 4 3 2 1 RECEIVE !</p>
            </div>
            <img class="img-fluid" src="~/_site/img/za.jpeg" alt="zorra" />
        </div>
    </div>

    <div class="position-relative text-center">
        <div class="container space-2 space-top-lg-3 space-bottom-lg-4">

            <div class="w-md-60 mx-md-auto mb-5 mb-md-7">
                <h2 class="h1">Join our newsletter</h2>
                <p>Stay in touch and receive Zorra updates on calls and related information..</p>
            </div>

            <div class="w-md-75 w-lg-50 mx-md-auto">
                <form class="js-validate mb-3">
                    <div class="form-row">
                        <div class="col-sm-8 mb-2">
                            <div class="js-form-message">
                                <label class="sr-only" for="signupSrEmail">Your email</label>
                                <div class="input-group input-group-pill">
                                    <input type="email" class="form-control" name="email" id="signupSrEmail" placeholder="Your email" aria-label="Your email" required
                                           data-msg="Please enter a valid email address.">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary btn-pill btn-wide">Join</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container space-top-3 space-top-lg-4 space-bottom-2">
        <div class="w-lg-60 text-center mx-lg-auto">
            <div class="mb-5">
                <h1 class="display-5 mb-3"><span class="text-primary">Support Us</span></h1>
                <p class="lead">Your support and contributions will enable us to meet our goals of monthly expenses for our website, newsletters and Zorra calls.</p>
            </div>
            <a class="btn btn-primary transition-3d-hover" href="#">Donate Now</a>
        </div>
    </div>

    <div class="container space-top-3 space-top-lg-4 space-bottom-2">

        <form class="js-validate card p-4 p-md-5">
            <div class="text-center mb-4">
                <h2>Drop us a message</h2>
            </div>

            <div class="row mx-n2">
                <div class="col-md-6 px-2 mb-4">

                    <div class="js-form-message">
                        <div class="input-group">
                            <input type="text" class="form-control" name="YourName" placeholder="Your name" aria-label="Your name" required
                                   data-msg="Please enter your name.">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 px-2 mb-4">

                    <div class="js-form-message">
                        <div class="input-group">
                            <input type="text" class="form-control" name="email" placeholder="Email address" aria-label="Email address" required
                                   data-msg="Please enter a valid email address.">
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5">
                <div class="js-form-message input-group">
                    <textarea class="form-control" rows="4" name="description" placeholder="How can we help you?" aria-label="How can we help you?" required
                              data-msg="Please enter a reason."></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary transition-3d-hover">Send</button>
        </form>
    </div>
</div>