<div class="container text-center space-top-3 space-bottom-1 space-bottom-sm-2">
    <div class="w-lg-75">
        <h1 class="display-4 mb-5">
            <span>
                We are
            </span>
            <span class="text-primary">
                <span class="js-text-animation"
                      data-hs-typed-options='{
                        "strings": ["gods...", "goddesses...", "love...", "light...", "powerful...", "free...", "abundant...","ONE !"],
                        "typeSpeed": 70,
                        "loop": true,
                        "backSpeed": 40,
                        "backDelay": 2000
                      }'></span>
            </span>
        </h1>
    </div>
</div>
<hr />

<div>
    <div class="w-lg-75 text-center mx-lg-auto">
        <div class="mb-9">
            <h1 class="display-4 mb-4">Welcome to Zorra of Hollow Earth</h1>
            <p class="lead">5 4 3 2 1 RECEIVE !</p>
        </div>
        <img class="img-fluid" src="~/_site/img/za.jpeg" alt="zorra" />
    </div>
</div>