<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zorra of Hollow Earth</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href="~/bundle.min.css" rel="stylesheet" />
</head>
<body>
    <partial name="~/Views/Shared/_Header.cshtml" />
    <main id="content" role="main">
        @RenderBody()
    </main>
    <partial name="~/Views/Shared/_Footer.cshtml" />
    <script src="~/bundle.min.js"></script>

    <script>
        $(document).on('ready', function () {
            var header = new HSHeader($('#header')).init();
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();
            var unfold = new HSUnfold('.js-hs-unfold-invoker').init();
            var typed = $.HSCore.components.HSTyped.init(".js-text-animation");

            AOS.init({
                duration: 650,
                once: true
            });

            $('.js-validate').each(function () {
                $.HSCore.components.HSValidation.init($(this), {
                    rules: {
                        confirmPassword: {
                            equalTo: '#signupPassword'
                        }
                    }
                });
            });

            $('.js-animation-link').each(function () {
                var showAnimation = new HSShowAnimation($(this)).init();
            });

            $('.js-counter').each(function () {
                var counter = new HSCounter($(this)).init();
            });

            var cbpStickyFilter = new HSStickyBlock($('#cbpStickyFilter'));

            $('.cbp').each(function () {
                var cbp = $.HSCore.components.HSCubeportfolio.init($(this), {
                    layoutMode: 'grid',
                    filters: '#filterControls',
                    displayTypeSpeed: 0
                });
            });

            $('.cbp').on('initComplete.cbp', function () {
                cbpStickyFilter.update();
            });

            $('.cbp').on('filterComplete.cbp', function () {
                cbpStickyFilter.update();
            });

            $('.cbp').on('pluginResize.cbp', function () {
                cbpStickyFilter.update();
            });

            $('#cbpStickyFilter').on('click', '.cbp-filter-item', function (e) {
                $('html, body').stop().animate({
                    scrollTop: $('#demoExamplesSection').offset().top
                }, 200);
            });

            $('.js-go-to').each(function () {
                var goTo = new HSGoTo($(this)).init();
            });
        });
    </script>

    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="@@autopath/node_modules/babel-polyfill/dist/polyfill.js"><\/script>');
    </script>
</body>
</html>